
.butold {
  margin-left:5px;
  color: #ffffff;
  background: #bf1c2d;
  border-radius: 9px;
  margin: 3px;
  box-shadow: 0px 1px 25px 1px rgb(157, 8, 8);
}



.butold2 {
color: #ffffff;
    background: #bf1c2d;
    border-radius: 9px;
    margin: 3px;
    box-shadow: 0px 1px 25px 1px rgb(157, 8, 8);
}
    
